/*
	COLOR_DARK     = #121212
	COLOR_MEDIUM   = #212121
	COLOR_MEDLIGHT = #333333
	COLOR_LIGHT    = #DDDDDD
	COLOR_ACCENT   = #0d74ad
*/

* {
	background: #121212;
	color: #DDDDDD;
	/*border: 1px solid #333333;*/
	border: none;
}

QWidget::item:selected {
	background: #0d74ad;
}

QCheckBox, QRadioButton {
	border: none;
}

QRadioButton::indicator, QCheckBox::indicator {
	width: 13px;
	height: 13px;
}

QRadioButton::indicator::unchecked, QCheckBox::indicator::unchecked {
	/*border: 1px solid #333333;*/
	background: none;
}

QRadioButton::indicator:unchecked:hover, QCheckBox::indicator:unchecked:hover {
	/*border: 1px solid #DDDDDD;*/
}

QRadioButton::indicator::checked, QCheckBox::indicator::checked {
	/*border: 1px solid #333333;*/
	background: #333333;
}

QRadioButton::indicator:checked:hover, QCheckBox::indicator:checked:hover {
	/*border: 1px solid #DDDDDD;*/
	background: #DDDDDD;
}

QGroupBox {
	margin-top: 6px;
}

QGroupBox::title {
	top: -7px;
	left: 7px;
}

QScrollBar {
	/*border: 1px solid #333333;*/
	background: #121212;
}

QScrollBar:horizontal {
	height: 15px;
	margin: 0px 0px 0px 32px;
}

QScrollBar:vertical {
	width: 15px;
	margin: 32px 0px 0px 0px;
}

QScrollBar::handle {
	background: #212121;
	/*border: 1px solid #333333;*/
}

QScrollBar::handle:horizontal {
	border-width: 0px 1px 0px 1px;
}

QScrollBar::handle:vertical {
	border-width: 1px 0px 1px 0px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::add-line, QScrollBar::sub-line {
	background:#212121;
	/*border: 1px solid #333333;*/
	subcontrol-origin: margin;
}

QScrollBar::add-line {
	position: absolute;
}

QScrollBar::add-line:horizontal {
	width: 15px;
	subcontrol-position: left;
	left: 15px;
}

QScrollBar::add-line:vertical {
	height: 15px;
	subcontrol-position: top;
	top: 15px;
}

QScrollBar::sub-line:horizontal {
	width: 15px;
	subcontrol-position: top left;
}

QScrollBar::sub-line:vertical {
	height: 15px;
	subcontrol-position: top;
}

QScrollBar:left-arrow, QScrollBar::right-arrow, QScrollBar::up-arrow, QScrollBar::down-arrow {
	/*border: 1px solid #333333;*/
	width: 3px;
	height: 3px;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

QAbstractButton:hover {
	background: #212121;
}

QAbstractButton:pressed {
	background: #333333;
}

QAbstractItemView {
	show-decoration-selected: 1;
	selection-background-color: #0d74ad;
	selection-color: #DDDDDD;
	alternate-background-color: #212121;
}

QHeaderView {
	/*border: 1px solid #333333;*/
}

QHeaderView::section {
	background: #121212;
	/*border: 1px solid #333333;*/
	padding: 4px;
}

QHeaderView::section:selected, QHeaderView::section::checked {
	background: #212121;
}

QTableView {
	gridline-color: #333333;
}

QTabBar {
	margin-left: 2px;
}

QTabBar::tab {
	border-radius: 0px;
	padding: 4px;
	margin: 4px;
}

QTabBar::tab:selected {
	background: #212121;
}

QComboBox::down-arrow {
	/*border: 1px solid #333333;*/
	background: #212121;
}

QComboBox::drop-down {
	/*border: 1px solid #333333;*/
	background: #212121;
}

QComboBox::down-arrow {
	width: 3px;
	height: 3px;
	/*border: 1px solid #333333;*/
}

QAbstractSpinBox {
	padding-right: 15px;
}

QAbstractSpinBox::up-button, QAbstractSpinBox::down-button {
	/*border: 1px solid #333333;*/
	background: #212121;
	subcontrol-origin: border;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::down-arrow {
	width: 3px;
	height: 3px;
	/*border: 1px solid #333333;*/
}

QSlider {
	border: none;
}

QSlider::groove:horizontal {
	height: 5px;
	margin: 4px 0px 4px 0px;
}

QSlider::groove:vertical {
	width: 5px;
	margin: 0px 4px 0px 4px;
}

QSlider::handle {
	/*border: 1px solid #333333;*/
	background: #212121;
}

QSlider::handle:horizontal {
	width: 15px;
	margin: -4px 0px -4px 0px;
}

QSlider::handle:vertical {
	height: 15px;
	margin: 0px -4px 0px -4px;
}

QSlider::add-page:vertical, QSlider::sub-page:horizontal {
	background: #0d74ad;
}

QSlider::sub-page:vertical, QSlider::add-page:horizontal {
	background: #212121;
}

QLabel {
	border: none;
}

QProgressBar {
	text-align: center;
}

QProgressBar::chunk {
	width: 1px;
	background-color: #0d74ad;
}

QMenu::separator {
	background: #212121;
}